@page "/users"
@layout MainLayout
@inherits MimmClientBlazor.Pages.UsersComponent

@using Radzen
@using Radzen.Blazor
@using MimmClientBlazor.Models.MimmApi
@using MimmClientBlazor.Models.MimmMysql
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Users">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getUsersResult)" TItem="MimmClientBlazor.Models.MimmMysql.User" PageSize="50" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="MimmClientBlazor.Models.MimmMysql.User" Context="mimmClientBlazorModelsMimmMysqlUser" Property="email" Title="Email">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="MimmClientBlazor.Models.MimmMysql.User" Context="mimmClientBlazorModelsMimmMysqlUser" Property="id" Title="Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="MimmClientBlazor.Models.MimmMysql.User" Context="mimmClientBlazorModelsMimmMysqlUser" Property="firstname" Title="Firstname">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="MimmClientBlazor.Models.MimmMysql.User" Context="mimmClientBlazorModelsMimmMysqlUser" Property="lastname" Title="Lastname">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="MimmClientBlazor.Models.MimmMysql.User" Context="mimmClientBlazorModelsMimmMysqlUser" Property="password" Title="Password">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="MimmClientBlazor.Models.MimmMysql.User" Context="mimmClientBlazorModelsMimmMysqlUser" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="mimmClientBlazorModelsMimmMysqlUser">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, mimmClientBlazorModelsMimmMysqlUser))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
